  <mat-card class="">
    <form>
      <mat-label class="title-form">Зайдите</mat-label> <br>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ваш email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field> <br/>
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input matInput placeholder="Ваш пароль">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field> <br/>

      <button mat-stroked-button type="submit">Зайти</button>
    </form>
  </mat-card>
