<h2 mat-dialog-title>Соавторы курса</h2>
<mat-dialog-content>
  <!-- <mat-divider></mat-divider> -->
  <table mat-table [dataSource]="dataSource" class="table-results">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Преподаватель</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Должность</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Закрыть</button>
</mat-dialog-actions>
