<app-top-options></app-top-options>
<mat-card class="info-course wrapper">
  <h3 class="title-course">Стек потоколов TCP/IP</h3>
  <p class="description-course">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusantium aut beatae debitis dolores, enim error ex exercitationem explicabo facilis
    fugiat ipsa iusto libero modi nam neque qui quisquam, tenetur voluptatum.</p>
  <div class="param-course">
    <ul>
      <li>
        <strong>Доступ:</strong>
        <span>Публичный</span>
      </li>
      <li>
        <strong> Количество подписанных студентов:</strong>
        <span>5</span>
      </li>
      <li>
        <strong>Автор курса:</strong>
        <span>Вы</span>
      </li>
    </ul>
  </div>
</mat-card>

  <div class="options-bottom-course">
    <button mat-raised-button color="primary" (click)="openDialogCoAuthors()">Соавторы курса</button>
    <button mat-raised-button color="primary" (click)="openDialogStudents()">Студенты курса</button>
  </div>

<section class="topics-cards wrapper">
  <mat-card [routerLink]="['/teacher/courses', 1, 1]">
    <h3>IP-адресса</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, sed!</p>
    <div class="small-info-topic">
      <div class="author-topic">
        <strong>Автор темы:</strong>
        <span>Петров</span>
      </div>
    </div>

  </mat-card>
  <mat-card>
    2 тема
  </mat-card>
</section>


