<app-top-options
  [targetEdit] = targetEditType
>

</app-top-options>
<mat-card class="info-course wrapper">
  <h3 class="title-course">{{current_course.title}}</h3>
  <p class="description-course">{{current_course.description}}</p>
  <div class="param-course">
    <ul>
      <li>
        <strong>Доступ:</strong>
        <span>{{current_course.typeAccess}}</span>
      </li>
      <li>
        <strong> Количество подписанных студентов:</strong>
        <span>{{current_course.followers.length}}</span>
      </li>
      <li>
        <strong>Автор курса:</strong>
        <span>{{current_course.author.firstName}}</span>
      </li>
    </ul>
  </div>
</mat-card>

  <div class="options-bottom-course">
    <button mat-raised-button color="primary" (click)="openDialogCoAuthors()">Соавторы курса</button>
    <button mat-raised-button color="primary" (click)="openDialogStudents()">Студенты курса</button>
  </div>

<section class="topics-cards wrapper">
  <mat-card *ngFor="let topic of topics" [routerLink]="['/teacher/courses', currentCourseId, topic.id]">
    <h3>{{topic.title}}</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, sed!</p>
    <div class="small-info-topic">
      <div class="author-topic">
        <strong>Автор темы:</strong>
        <span>{{topic.author}}</span>
      </div>
    </div>
  </mat-card>
</section>


