.progress-courses {
  margin: 20px;
  display: flex;
  flex-direction: column;
  table {
     width: 100%;
  }
  th {
    background-color: transparent;
  }

  mat-expansion-panel {
    margin-top: 20px;
  }
}
