.progress-courses {
  margin: 20px;
  display: flex;
  flex-direction: column;
  table {
     width: 100%;
  }
  th {
    background-color: transparent;
  }

  mat-expansion-panel {
    margin-top: 20px;
  }
}

table {

  tr {
    margin-bottom: 125px;
    th {
      color: gray;
      font-weight: normal;
      text-align: left;
      font-size: 15px;
    }
    td {
      margin-bottom: 20px;
    }
  }
}
