
<section class="progress-courses">
<mat-expansion-panel *ngFor="let course of courses">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{course.title}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <table mat-table [dataSource]="students" class="table-results">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Имя студента </th>
      <td mat-cell *matCellDef="let element ">
        <div *ngIf="course.id == element.idCourse">
          {{element.name}}
        </div>
      </td>

    </ng-container>

    <ng-container matColumnDef="current_level">
      <th mat-header-cell *matHeaderCellDef> Текущий уровень </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="course.id == element.idCourse">
          {{element.current_level}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="current_lesson">
      <th mat-header-cell *matHeaderCellDef> Текущее занятие </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="course.id == element.idCourse">
          {{element.current_lesson}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef> Общий результат </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="course.id == element.idCourse">
          {{element.progress}}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-expansion-panel>

</section>

