<section class="top-options">
  <!--
  <button mat-button color="primary" class="back">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  -->
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>edit</mat-icon>
  </button>
</section>
