<h2 mat-dialog-title>Добавить курс</h2>
<mat-dialog-content>
  <form class="top-options-forms" [formGroup]="form" (ngSubmit)="addCourse()">
    <mat-form-field>
      <mat-label>Название</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field> <br/>
    <mat-form-field>
      <mat-label>Описание</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field> <br/>
    <mat-form-field>
      <mat-label>Тип доступа</mat-label>
      <mat-select [(value)]="defaultAccessType" formControlName="typeAccess" required>
        <mat-option value="PUBLIC">Публичный</mat-option>
        <mat-option value="PRIVATE">Приватный</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="Skills selection">
        <mat-chip *ngFor="let skill of skills" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(skill)">
          {{skill.skill}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Навыки"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)" formControlName="skills">
      </mat-chip-list>
    </mat-form-field>


    <button mat-stroked-button type="submit">Создать</button>
  </form>
</mat-dialog-content>

