<mat-sidenav-container class="sidenav-cont">
  <mat-sidenav mode="side" opened>
    <nav>
      <mat-list>
        <mat-list-item>
          <!--(click)="backgroundItemBtn = !backgroundItemBtn" [class.active]="backgroundItemBtn"-->

          <button mat-stroked-button color="primary" routerLink='/teacher'>
            <span>Home</span>
            <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
          </button>

        </mat-list-item>
        <mat-list-item>
            <button
              mat-stroked-button color="primary"
              [matMenuTriggerFor]="coursesParam" >
              <span>Курсы</span>
            <mat-icon aria-hidden="false" aria-label="home"></mat-icon>
          </button>
          <mat-menu #coursesParam="matMenu">
            <button mat-menu-item color="primary">
              <span>Добавить курс</span>
            </button>
            <button mat-menu-item color="primary" routerLink='/teacher/courses'>
              <span>Список курсов</span>
            </button>
          </mat-menu>
        </mat-list-item>
        <mat-list-item>
          <button
            mat-stroked-button color="primary"
            routerLink='/teacher/progress'
          >
            <span>Прогресс студентов</span>
          </button>
        </mat-list-item>
      </mat-list>
    </nav>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
