<app-top-options></app-top-options>
<section class="info-topic wrapper">
 <mat-card>
  <h2 class="title-topic">Title Topic</h2>
  <p class="description-topic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, provident.</p>
  <div class="param-topic">
    <ul>
      <li>
        <strong>Автор курса:</strong>
        <span>Вы</span>
      </li>
    </ul>
  </div>
 </mat-card>
</section>

<section class="lessons-cards wrapper cards-layout">
  <mat-card [routerLink]="['/teacher/courses', 1, 1, 1]">
    <h3 class="lesson-title">Lesson title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, earum.</p>
  </mat-card>
  <mat-card>lesson 2</mat-card>
</section>
