<app-top-options [targetEdit]=targetEditType></app-top-options>
<section class="lesson-info wrapper">
  <mat-card>
      <h2>{{currentLesson.title}}</h2>
      <p class="lesson-description">
        {{currentLesson.description}}
      </p>
       <div class="param-course">
        <ul>
          <li>
            <strong>Автор занятия:</strong>
            <span>{{currentLesson.author.firstName}}</span>
          </li>
        </ul>
      </div>
  </mat-card>
</section>

<section class="lesson-levels wrapper">
  <mat-tab-group>
    <div *ngFor="let level of currentLesson.levels.bodyLevels let i = index">
      <mat-tab label="{{i + 1}} уровень">
        <div class="bodyLevel">
          {{level.htmlBody}}
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>

</section>
