<app-top-options [targetEdit]=targetEditType></app-top-options>
<section class="lesson-info wrapper">
  <mat-card>
      <h2>Title lesson</h2>
      <p class="lesson-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid beatae cum magni nostrum, quae quas quasi quia vitae voluptas?</p>
       <div class="param-course">
        <ul>
          <li>
            <strong>Автор занятия:</strong>
            <span>Вы</span>
          </li>
        </ul>
      </div>
  </mat-card>
</section>

<section class="lesson-levels wrapper">
  <mat-tab-group>
    <mat-tab label="1 уровень">
      <div class="bodyLevel">
        <h3>Введение в чего то там</h3>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus alias amet ipsum odit,
          porro reiciendis reprehenderit sed! A accusantium, animi assumenda
          atque aut blanditiis delectus dolorem dolorum eligendi eos eum
          exercitationem fuga laboriosam maxime modi odio officiis quaerat,
          quasi quibusdam reiciendis repellat repudiandae soluta tempore velit veniam? A, incidunt sequi.
        </p>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus alias amet ipsum odit,
          porro reiciendis reprehenderit sed! A accusantium, animi assumenda
          atque aut blanditiis delectus dolorem dolorum eligendi eos eum
          exercitationem fuga laboriosam maxime modi odio officiis quaerat,
          quasi quibusdam reiciendis repellat repudiandae soluta tempore velit veniam? A, incidunt sequi.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="2 уровень">
      <div class="bodyLevel">
        <h3>Введение в чего то там</h3>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus alias amet ipsum odit,
          porro reiciendis reprehenderit sed! A accusantium, animi assumenda
          atque aut blanditiis delectus dolorem dolorum eligendi eos eum
          exercitationem fuga laboriosam maxime modi odio officiis quaerat,
          quasi quibusdam reiciendis repellat repudiandae soluta tempore velit veniam? A, incidunt sequi.
        </p>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus alias amet ipsum odit,
          porro reiciendis reprehenderit sed! A accusantium, animi assumenda
          atque aut blanditiis delectus dolorem dolorum eligendi eos eum
          exercitationem fuga laboriosam maxime modi odio officiis quaerat,
          quasi quibusdam reiciendis repellat repudiandae soluta tempore velit veniam? A, incidunt sequi.
        </p>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus alias amet ipsum odit,
          porro reiciendis reprehenderit sed! A accusantium, animi assumenda
          atque aut blanditiis delectus dolorem dolorum eligendi eos eum
          exercitationem fuga laboriosam maxime modi odio officiis quaerat,
          quasi quibusdam reiciendis repellat repudiandae soluta tempore velit veniam? A, incidunt sequi.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="3 уровень">
      <div class="bodyLevel">
        <h3>Введение в чего то там</h3>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus alias amet ipsum odit,
          porro reiciendis reprehenderit sed! A accusantium, animi assumenda
          atque aut blanditiis delectus dolorem dolorum eligendi eos eum
          exercitationem fuga laboriosam maxime modi odio officiis quaerat,
          quasi quibusdam reiciendis repellat repudiandae soluta tempore velit veniam? A, incidunt sequi.
        </p>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus alias amet ipsum odit,
          porro reiciendis reprehenderit sed! A accusantium, animi assumenda
          atque aut blanditiis delectus dolorem dolorum eligendi eos eum
          exercitationem fuga laboriosam maxime modi odio officiis quaerat,
          quasi quibusdam reiciendis repellat repudiandae soluta tempore velit veniam? A, incidunt sequi.
        </p>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus alias amet ipsum odit,
          porro reiciendis reprehenderit sed! A accusantium, animi assumenda
          atque aut blanditiis delectus dolorem dolorum eligendi eos eum
          exercitationem fuga laboriosam maxime modi odio officiis quaerat,
          quasi quibusdam reiciendis repellat repudiandae soluta tempore velit veniam? A, incidunt sequi.
        </p>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus alias amet ipsum odit,
          porro reiciendis reprehenderit sed! A accusantium, animi assumenda
          atque aut blanditiis delectus dolorem dolorum eligendi eos eum
          exercitationem fuga laboriosam maxime modi odio officiis quaerat,
          quasi quibusdam reiciendis repellat repudiandae soluta tempore velit veniam? A, incidunt sequi.
        </p>
      </div>
    </mat-tab>
  </mat-tab-group>

</section>
