@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.top-options-forms {
  width: 900px;
  mat-form-field {
    width: 100%;
  }

  mat-checkbox {
    margin-top: 10px;
  }
  button {
    margin-top: 15px;
  }
}


::ng-deep .mat-form-field {
  .mat-input-element {
    color: slategray;
  }
  .mat-form-field-label {
    color: slategray;
  }
  .mat-form-field-underline {
    background-color: slategray;
  }
  .mat-form-field-ripple {
    background-color: slategray;
  }
  .mat-form-field-required-marker {
    color: slategray;
  }
}

.options-update {
  width: 500px;
  mat-radio-button {
    margin-top: 10px;
  }
  button {
    margin-top: 10px;
  }
}



.wrapper {
  margin: 15px;
}

.cards-layout {
  margin-top: 30px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
  justify-items: center;
  mat-card {
    width: 330px;
    height: 200px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      box-shadow: none;
    }
  }
}

ul {
  list-style: none;
}
